/* Colors */
$mainYellow: #FFFF87;
$darkYellow: #A0A054;
$mainBlack:  #000;
$mainWhite:  #FFF;
$lightBlue:  #33A4DE;

/* Layout */
$lineHeight: 3.2rem;
$lineHeightSmall: 1.2rem;

$spaceQtr: .6rem;
$spaceHlf: 1.12rem;
$spaceStd: 2.25rem;
$spaceDbl: 4.5rem;

/* Font sizes */
$heading: 4.5rem;
$headingSmall: 3.8rem;
$headingXsmall: 3rem;
$textSize: 2rem;
$textSizeSmall: 1.8rem;
$textSizeXsmall: 1rem;

/*Font weights*/
$weightLight: 300;
$weightRegular: 400;
$weightSemibold: 500;
$weightBold: 600;
$weightExtrabold: 700;

/* Boxes */
$boxSizeSmall: 200px;
$boxSize: 400px;
$boxSizeMedium: 600px;
$boxSizeLarge: 800px;

/* Buttons */
$btnSizeSmall: 100px;
$btnSize: 150px;
$btnSizeLarge: 260px;

/* Icons */
$iconSize: 65px;
$iconSizeSmall: 50px;
$iconSizeLarge: 85px;

/* transition speeds */
$medium: .4s;