#about {
	background-color: $mainWhite;

	@mixin atSmall {
		background: url("../../assets/images/backgrounds/medium/vinyl-B&W-1280.jpg");
		background-size: cover;
		height: 60vh;
	} /* background image - atSmall - standard resolution */

	@mixin atMedium {
		height: 75vh;
	}


	.wrapper {
		height: 100%;
		margin: 0 auto;
		flex-direction: column;
		justify-content: flex-start;

		@mixin atSmall {
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}

	} /* .wrapper */

	.text-box {
		justify-content: space-around;
		align-items: center;
		padding-top: $spaceStd;
		padding-bottom: $spaceStd;
		height: 80%;

		h2 {
			color: $lightBlue;
			margin-top: 0;
			margin-bottom: $spaceHlf;
			font-size: $headingSmall;
			font-weight: $weightSemibold;
			align-self: center;
		}

		p {
			font-size: $textSize;
			font-weight: $weightLight;
			line-height: $lineHeight;
			text-align: left;
			margin: $spaceHlf 0;
			max-width: 90%;
		} /* .text-box p */

		.social {
			width: 100%;
			justify-content: space-around;
			margin: $spaceHlf 0;
		}

		@mixin atSmall {
			justify-content: center;
			padding-top: $spaceHlf;
			padding-bottom: $spaceHlf;
			height: 80%;

			h2 {
				margin: 0 $spaceStd $spaceStd $spaceStd;
			}

			p {
	      font-size: $textSizeLarge;
	      font-weight: $weightLight;
			}

			.social {
				margin: $spaceDbl 0 0 0;
				width: 75%;
			}
						
		} /* .text-box @mixin atSmall */

		@mixin atMedium {
			align-items: flex-start;
			margin: $spaceStd 0;
			padding: $spaceDbl;
			width: $boxSizeLarge;
			min-width: $boxSize;
			height: 65%;

			h2 {
				margin-left: 0; 
				align-self: flex-start;
			}

			p {
				font-size: $textSize;
				margin-top: 0;
				margin-bottom: 0;
				width: 75%;
				text-align: left;
	            line-height: $lineHeightLarge;
			}

			.social {
				justify-content: flex-end;
				align-self: flex-end;
				margin: $spaceStd 0;
			}

		} /* .text-box @mixin atMedium */
		
	} /* .text-box */

} /* #about */