.btn {
	background-color: $mainYellow;
	color: $mainBlack;
	text-decoration: none;
	padding: $spaceQtr $spaceHlf;
	display: inline-block;
	transition: all $moderate;

	&:hover {
		background-color: $darkYellow;
		color: $mainYellow;
	}

	&--medium {
		font-size: $textSizeSmall;
		font-weight: $weightBold;
		line-height: $lineHeight;
		text-align: center;
		padding: $spaceHlf $spaceStd;
		margin: $spaceStd 0;
		border-radius: 20px;
	}

	&--large {
		font-size: $textSize;
		font-weight: $weightBold;
		line-height: $lineHeight;
		padding: $spaceHlf $spaceDbl;
		border-radius: 15px;
	}

} /* .btn */

.btn-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}