.btn {
	background-color: $mainYellow;
	color: $mainBlack;
	text-decoration: none;
	padding: $spaceQtr $spaceHlf;
	border-radius: 5px;
	display: inline-block;
	transition: all $moderate;

	&:hover {
		background-color: $darkYellow;
		color: $mainYellow;
	}

	&--medium {
		font-size: $textSizeSmall;
		font-weight: $weightBold;
		line-height: $lineHeight;
		text-align: center;
		padding: $spaceHlf $spaceStd;
		margin: 0 0 $spaceStd 0;
		border-radius: 10px;

		@mixin atSmall {
			margin: $spaceStd 0;
		}
	}

	&--large {
		font-size: $textSize;
		font-weight: $weightBold;
		line-height: $lineHeight;
		padding: $spaceHlf $spaceDbl;
		border-radius: 20px;
	}

} /* .btn */

.btn-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}