#directions {
	height: 100vh;
	background-color: $mainWhite;

	@mixin atSmall {
		background: url("../../assets/images/backgrounds/medium/vinyl-2-B&W-1280.jpg");
		background-size: cover;
		height: 60vh;
	} /* background image - atSmall */

	.wrapper {
		height: 100%;
		margin: 0 auto;
		flex-direction: column;
		justify-content: flex-start;
		
		@mixin atSmall {
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}

	}/* .wrapper */

		.text-box {
			justify-content: space-around;
			align-items: center;
			padding-top: $spaceDbl;

			.address {
				width: $boxSize;	
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding-bottom: $spaceDbl;
			}

			#map {
				width: $boxSize;
				padding-bottom: $spaceDbl;
			}

			h2 {
				color: $lightBlue;
				margin-top: 0;
				margin-bottom: $spaceHlf;
				font-size: $heading;
				font-weight: $weightSemibold;
				align-self: center;
			}

			p {
				font-size: $textSizeSmall;
				font-weight: $weightLight;
				line-height: $lineHeight;
				text-align: center;
				margin: $spaceHlf 0;
				max-width: 90%;
			}

			@mixin atSmall {
				align-items: center;
				height: 70%;
				width: $boxSizeMedium;
				min-width: $boxSize;

				.address {
					padding-bottom: $spaceStd;	
				}

				h2 {
					font-size: $heading;
				}

				p {
					font-size: $textSize;
					margin-top: 0;
					margin-bottom: 0;
					width: 100%;					
				}					

			} /* .text-box @mixin atSmall */

			@mixin atMedium {
				flex-direction: row;
				width: $boxSizeLarge;
				min-width: $boxSize;
				margin: $spaceStd 0;
				padding: $spaceStd;
				height: 60%;

			} /* .text-box @mixin atMedium */
			
		} /* #about .text-box */

} /* #about */