#directions {
	position: relative;
	height: 100vh;
	/*background-color: gray;	*/

	@mixin atSmall {
		background: url("../../assets/images/backgrounds/medium/mixing-b&w_fem-M.jpg");
		background-size: cover;
		height: 60vh;
	} /* background image - atSmall */

	@mixin atSmallDouble {
		background: url("../../assets/images/backgrounds/medium/mixing-b&w_fem-M@2x.jpg");
		background-size: cover;
	}

	.wrapper {
		height: 100%;
		margin: auto 0;
	}/* .wrapper */

		.text-box {
			justify-content: space-around;

			@mixin atSmall {
				flex-direction: row;
				align-items: center;
			}

			#map {
				width: $boxSize;
			}

			.address {
				width: $boxSize;	
			}

			h2 {
				color: $lightBlue;
				margin-top: 0;
				margin-bottom: $spaceHlf;
				font-size: $heading;
				font-weight: $weightSemibold;
			}

			p {
				font-size: $textSizeSmall;
				line-height: $lineHeight;
				text-align: left;
				margin: $spaceHlf 0;
				max-width: 90%;
			}

			@mixin atSmall {				
				margin: $spaceStd 0;
				padding: $spaceStd;
				width: $boxSizeLarge;
				min-width: $boxSize;

				h2 {
					font-size: $heading;
				}

				p {
					font-size: $textSize;
					margin-top: 0;
					margin-bottom: 0;
					width: 75%;
					
				}

				.social {
					align-self: flex-end;
				}				

			} /* @mixin atSmall */
			
		} /* #about .text-box */

} /* #about */