.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	/*padding-top: $spaceStd;*/
	width: 100%;

	@mixin atSmall {
		/*position: fixed;*/
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		padding-top: 0;
	} /* .header atSmall */

	@mixin atMedium {
		
	}

	&__logo {
		width: 260px;
		max-width: 320px;
		padding: $spaceHlf $spaceQtr;
		/*max-height: 148px;*/

		@mixin atSmall{
			width: 400px;
			min-width: 320px;
			padding: $spaceDbl;
			background-color: $transBlack;

/*			&--dark {
				max-width: 95px;
				max-height: 44px;
				background-color: $mainBlack;
				z-index: 1;
			}*/

		} /* &_logo atSmall */

	} /* &__logo */

} /* .header */