.landing {
	display: block;
	position: relative;
	background-color: $mainBlack;
    padding: 8rem 0;

	@mixin atSmall {
		background: url("../../assets/images/backgrounds/large/mixing-deep-main-L.jpg");
		background-size: cover;
        height: 100vh;
        padding: 0;
	} /* background image - atSmall */

	@mixin atSmallDouble {
		background: url("../../assets/images/backgrounds/large/mixing-deep-main-L@2x.jpg");
		background-size: cover;
	} /* background image - atSmallDouble */

} /* .landing */