.large-hero {
	position: relative;
	height: 100vh;

	@mixin atSmall {
		background: url("../../assets/images/backgrounds/large/mixing-deep-main-L.jpg");
		background-size: cover;
	} /*@mixin atSmall*/

	&__brands-container {
		display: none;

		@mixin atSmall {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-around;
			position: absolute;
			left: 0;
			bottom: 0;
			background-color: $mainBlack;
			width: 50%;
			
			&__brand {
				padding: 20px 10px;
				flex: 0 1 auto;
			} /*&__brand*/

		} /*@mixin atSmall*/

	} /*&__brands-container*/


} /*.large-hero*/