.nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;

	@mixin atSmall {
		flex-direction: row;
		justify-content: space-around;
		background-color: $transBlack;
		width: 100%;
		height: $navHeightLarge;
	} /* atSmall */

	@mixin atMedium {
		height: $navHeight;
	}

	.btn {
		color: $mainBlack;
		margin: auto 0;
	} /* .btn */

} /* .nav */

	.nav-el {
		color: $mainWhite;
		padding: $spaceHlf $spaceStd;
		margin-bottom: $spaceHlf;
		font-size: $textSize;
		font-weight: $weightRegular;
		text-decoration: none;
		transition: all $medium;

		&:nth-child(3n) {
			margin-bottom: $spaceStd;

			@mixin atSmall {
				margin-bottom: $spaceHlf;				
			}

		} /* &:nth-child(3n) */

		&:hover {
			color: $mainYellow;
		}

	} /* .nav-el */

