.scrollToTop { 
	display:none;

	@mixin atSmall {
		display: inline-block;
		width:32px;
		height:32px;
		position:fixed;
		bottom:20px;
		right:20px;
		background: url('../../assets/images/icons/items/al-inicio.png');
		opacity: 0.5;
	}

	.scrollToTop:hover{
		text-decoration:none;
	}

}