#services {
	height: 100vh;

	@mixin atSmall {
		height: 60vh;
	}

	h2 {
		font-size: $headingXsmall;
		text-align: center;
		margin: $spaceStd 0;

		@mixin atSmall {
			font-size: $heading;
		}
	}

} /* #services */