#services {
	height: 100vh;

	.wrapper {
		flex-direction: column;
		padding: $spaceStd;
	} /* .wrapper */

	h2 {
		font-size: $headingXsmall;
		text-align: center;
		margin: $spaceStd 0;
	}

	@mixin atSmall {
		display: flex;
		justify-content: center;
		height: 65vh;
	
		.wrapper {
			justify-content: space-around;
			padding: 0 $spaceStd;
		} /* .wrapper atSmall */

		h2 {
			margin: $spaceDbl 0;
			font-size: $headingSmall;
		}

	} /* atSmall */

	@mixin atMedium {		
		flex-direction: column;
		height: 50vh;

		.wrapper {

			} /* .wrapper atMedium*/
		
		h2 {
			margin: $spaceStd 0 $spaceDbl 0;
			font-size: $heading;
		} /*h2 atMedium*/

	} /* atMedium */

} /* #services */