.wrapper {
		padding-left: $spaceStd;
		padding-right: $spaceStd;
		
	@mixin atSmall {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
}